.bow-border {
  position: relative;
}

.bow-border::before,
.bow-border::after {
  @apply absolute inset-x-3 inset-y-1 border-2 border-smoke/10 rounded-lg;
  z-index: -1;
  content: '';
}

.bow-border::before {
  clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
  transform: perspective(100px) rotateX(8deg);
}

.bow-border::after {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  transform: perspective(100px) rotateX(-8deg);
}

/* Safari-only hack to disable 3D transform as it breaks parent filters */
@media not all and (min-resolution:.001dpcm) {
  .bow-border::before,
  .bow-border::after {
    transform: none;
  }
}
