.button {
  @apply bg-pink/100 text-white font-medium rounded gap-y-3 gap-x-2 mobile:gap-x-6 px-4 transition;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  @apply bg-pink/90;
}

.button .arrow {
  transition: transform .2s;
  flex-shrink: 0;
}

.button:hover .arrow,
.button:focus .arrow {
  transform: translateX(4px);
}
