.content {
  > * + *,
  .text-center > * + *, {
    @apply mt-4;
  }

  .button {
    @apply mobile:m-3 max-mobile:w-full;
  }

  .button + .button {
    @apply bg-smoke;
  }

  p + .button:last-child {
    @apply mt-6 mb-0;
  }

  img {
    @apply transition;
  }

  h2 {
    @apply font-tiempos font-bold text-4xl tablet:text-5xl desktop:text-6xl leading-tight
  }

  h3 {
    @apply font-tiempos font-semibold text-2xl tablet:text-3xl desktop:text-3.5xl;
  }

  p,
  ul,
  ol {
    @apply text-xl tablet:text-2xl;
  }

  a:hover > img {
    @apply opacity-90;
  }

  a {
    display: inline-flex;
  }

  a:not(.button) {
    @apply text-pink decoration-2 hover:underline;
  }
}
