@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'reset';
@import 'base';
@import 'bow-border';
@import 'button';
@import 'manyhands-hr';
@import 'text-link';
@import 'ticket-divider';
@import 'scooped-corners';
@import 'type';

.o-section-clip--ramp-bottom-right {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw - 14px),77% calc(100% - 5vw - 14px),0 100%,0 0);
}

.filter-smooth {
  filter: url('#filter-smooth');
}

.clip-bottom-8 {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 0 calc(100% - 8px));
}
