.scooped-corners {
  --stop-list: transparent 2.25rem, #000000 0;
  -webkit-mask:
    radial-gradient(circle at   0    0 , var(--stop-list)),
    radial-gradient(circle at 100%   0 , var(--stop-list)),
    radial-gradient(circle at   0  100%, var(--stop-list)),
    radial-gradient(circle at 100% 100%, var(--stop-list));
  -webkit-mask-composite: source-in, xor, xor, xor;
  mask-composite: intersect;
}
