@font-face{
  font-family: Sailec;
  font-weight: 500;
  src: url('../font/sailec/39E20B_0_0.woff2');
  font-display: fallback;
}

@font-face {
  font-family: Sailec;
  font-weight: 400;
  src: url('../font/sailec/39E20B_2_0.woff2');
  font-display: fallback;
}

@font-face {
  font-family: Tiempos;
  font-weight: 400;
  src: url('../font/tiempos/TiemposTextWeb-Regular.woff2');
  font-display: fallback;
}

@font-face {
  font-family: Tiempos;
  font-weight: 600;
  src: url('../font/tiempos/TiemposTextWeb-Semibold.woff2');
  font-display: fallback;
}
