@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_reset';
@import '_base';
@import '_bow-border';
@import '_button';
@import '_content';
@import '_content-em-ul';
@import '_manyhands-hr';
@import '_text-link';
@import '_ticket-divider';
@import '_scooped-corners';
@import '_type';

.o-section-clip--ramp-bottom-right {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw - 14px),77% calc(100% - 5vw - 14px),0 100%,0 0);
}

.filter-smooth {
  filter: url('#filter-smooth');
}

.clip-bottom-8 {
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 0 calc(100% - 8px));
}

.circle-bg-dl div {
  @apply grid gap-4;
}

.circle-bg-dl dd {
  @apply ml-16 pl-5;
}

.circle-bg-dl dt > .indicator {
  @apply inline-flex justify-center w-16 relative mr-5;
}

.circle-bg-dl dt > .indicator::before {
  @apply absolute top-1/2 left-1/2 inline-flex h-16 w-16 bg-light-gray rounded-full -translate-x-1/2 -translate-y-1/2 -z-10;
  content: '';
}
