@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '_reset';
@import '_base';
@import '_button';
@import '_circle-bg-dl';
@import '_content';
@import '_content-em-ul';
@import '_manyhands-hr';
@import '_text-link';
@import '_type';

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.o-section-clip--ramp-bottom-right {
  clip-path: polygon(0 0,100% 0,100% calc(100% - 5vw - 14px),77% calc(100% - 5vw - 14px),0 100%,0 0);
}
