.ticket-divider {
  background:
    radial-gradient(circle at 12px 12px, #0000 8px, #fff 0),
    radial-gradient(circle at 12px 14px, #0000, #0001 8px),
    radial-gradient(circle at 12px 12px, rgba(241, 255, 188, 0.6) 8px, #fff 0);
  height: 24px;
  margin-top: -12px;
  margin-bottom: -12px;
  margin-left: 48px;
  margin-right: 48px;
  background-size: 26px;
  background-repeat: round;
  isolation: isolate;
}
